	body{
		background-color: #828282;
	}

	h1{
		color: white;
		text-align: center;
	}
	h2{
		color: white;
		text-align: center;
	}
		
	p{
		font-family: verdana;
		font-size: 10px;
		text-align: center;
	}	
	#lista{
		font-family: verdana;
		font-size: 50px;
		text-align: left;
		color: #00BFFF;
	}
	ul{
		text-align: center;		
		
	}
	li{
		text-align: center;
	}